body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 5vh auto; /* Center the container */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}
.container form p {
    /* Adjust the spacing between the form fields */
    margin: 10px 0;
}

.container form label {
    display: block;
    font-weight: bold;
}

.container form input[type="text"],
.container form input[type="password"],
.container form select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container form button {
    width: 100%;
    padding: 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container p {
    text-align: center;
}
